/* Estilos para a lista de experiências */
.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Estilos para cada item da lista de experiências */
.experience li {
    margin-bottom: 1rem;
}
/* Estilos para o período da experiência */
.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Estilos para o ícone do calendário que fica antes do período */
.experience li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendar.svg');
    margin-right: .5rem;
}