/* Define o modelo de caixa e a família de fontes padrão para todos os elementos */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Define uma nova fonte chamada 'Neue Machina' */
@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}
/* Estilos para o corpo da página */
body {
    background-color: #0b0014;
    color: #fff;
}
/* Estilos para links */
a {
    color: #fff;
    text-decoration: none;
}
/* Estilos quando o mouse está sobre um link */
a:hover {
    text-decoration: underline;
}
/* Estilos para a seção principal */
.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;    
}
/* Estilos para os elementos pseudo ::before e ::after na seção principal */
.main::before,
.main::after {
    content: '';
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}
/* Estilos para o elemento ::after na seção principal */
.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

/* Estilos para telas maiores que 768px */
@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}