/* Estilos para a lista de portfólio */
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Estilos para cada item da lista de portfólio */
.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
/* Estilos para o título de cada item da lista de portfólio */
.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}
/* Estilos para o ícone do GitHub antes do título */
.portfolio li h3.github::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/github.svg');
    margin-right: .5rem;
}